.Message {
	margin: 0 0 10px 0;
	max-width: 400px;
	background-color: #ddd;
	padding: 10px 5px 10px 10px;
	border: 1px solid rgb(112, 112, 112);
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
}
.Message__autor {
	margin: 0;
	padding: 0;
	color: rgb(255, 0, 0);
	font-size: 24px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	line-height: 1.1;
}
.Message__datetime {
	font-size: 15px;
	color: #1900ff94;
	margin: 0 5px 0 0;
}
.Message__value {
	font-size: 18px;
	margin: 0;
	padding: 10px 0 0;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	width: 100%;
}
